<div class="row">
	<div class="callout panel">
		<button class="button" ng-click="dispAllemp()">RetrieveAllEmployees</button>
		<!--<button class="button" ng-click="searchdiv()">Search</button>
						<div class="callout panel" >
						
							<table width="60%">
							<tr>
							<td><input type="text"  ng-model="param"></td>
							<td>
								<select ng-model="searchCriteria" ng-change="CheckforSkills()">
									<option>searchByName</option>
									<option>searchBySkillset</option>
									<option>searchByContact</option>
								</select>
							</td>
							</tr>
							</table>
							
							<fieldset ng-show="showsearchskills">
										<legend>Techincal Skills</legend>
											<div class="callout panel">
												<fieldset>
													<div class = "small-3 columns"><h5>Languages</h5><pre ng-repeat="language in techSkills.Languages"><input type="checkbox" ng-model="names.Selected" ng-click="toggleSelection(language)"/>{{language}}</pre></div>
													
													<div class = "small-3 columns"><h5>Source control Tools</h5><pre ng-repeat="tool in techSkills.SouceControlTools"><input type="checkbox" ng-model="names.Selected" ng-click="toggleSelection(tool)"/>{{tool}}</pre></div>
													
													<div class = "small-3 columns"><h5>Web Technologies</h5><pre ng-repeat="technology in techSkills.WebTechnologies"><input type="checkbox" ng-model="names.Selected" ng-click="toggleSelection(technology)"/>{{technology}}</pre></div>
													<div class = "small-3 columns"><h5>Operating Systems</h5><pre ng-repeat="os in techSkills.OperatingSystems"><input type="checkbox" ng-model="names.Selected" ng-click="toggleSelection(os)"/>{{os}}</pre></div>
												</fieldset>
											</div>	
							</fieldset>	
							
							<button class="button" ng-click = "retrivebySearch()">RetrieveSearchCriteria</button>-->
	</div>
	<div class="callout panel">
		<table width="100%">
			<tr>
				<th>Firstname</th>
				<th>Skillset</th>
				<th>Contact</th>
			</tr>
			<tr ng-repeat="employee in Allemps">
				<td><button ng-click="selEmp(employee)">{{employee.emp.firstname}}</button></td>
				<td>{{employee.emp.skillset}}</td>
				<td>{{employee.emp.contact}}</td>
				<td><button class="button"
						ng-click="ViewResume(employee.emp.contact)">View Resume</button></td>
				<td><input type="file" id="updateresume" name="resume"
					class="button" /></td>
				<!--<td><button class="button" ng-click="deleteEmployee(emp.id)">Delete</button></td> -->
			</tr>
		</table>
	</div>

	<!--<div ng-show="showempResume" class="callout panel">
						<object ng-show="content" data="{{content}}" type="application/pdf" style="width: 100%; height: 400px;"></object>
						</div>-->

	<div ng-show="ViewSelected" class="callout panel">
		<fieldset>
			<legend>Personal Details</legend>
			<table width="100%">
				<tr>
					<td>First Name</td>
					<td>{{selemp.emp.firstname}}</td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td>{{selemp.emp.lastname}}</td>
				</tr>
				<tr>
					<td>email address</td>
					<td>{{selemp.emp.email}}</td>
				</tr>
				<tr>
					<td>Current Experience</td>
					<td>{{selemp.emp.currentexperience}}</td>
				</tr>
				<tr>
					<td>Total Experience</td>
					<td>{{selemp.emp.totalexperience}}</td>
				</tr>
			</table>
		</fieldset>

		<fieldset>
			<legend>Technical Skills and projects</legend>
			<div class="callout panel">
				<pre>Skill set :{{selemp.emp.skillset}}</pre>
				<fieldset ng-repeat="project in selemp.projects">
					<legend>{{project.projecttitle}}</legend>
					<table width="100%">
						<tr>
							<td>Project Description</td>
							<td>{{project.projectdescription}}</td>
						</tr>
						<tr>
							<td>Duration</td>
							<td>{{project.projectduration}}</td>
						</tr>
						<tr>
							<td>Role</td>
							<td>{{project.projectrole}}</td>
						</tr>
					</table>
				</fieldset>
			</div>
		</fieldset>

		<!--<div><button class="button" ng-click="restoreViewAll()"><a href="#/addApplicant"/></button>
							<button class="button" ng-click="editEmployee(selemp.emp.contact)">Edit</button></div>-->

	</div>
</div>
</div>