<div class="callout panel">
	<button class="button" ng-click="dispAllInterviewers()">Retrieve
		All Interviewers</button>
	<button class="button" ng-click="searchdiv()">Search</button>
	<div class="callout panel">
		<table width="60%">
			<tr>
				<td><input type="text" ng-model="param"></td>
				<td><select ng-model="searchCriteria"
					ng-change="CheckforSkills()">
						<option>searchByName</option>
						<option>searchByExpertese</option>
						<option>searchByQuicklook id</option>
				</select></td>
			</tr>
		</table>

		<fieldset ng-show="showsearchskills">
			<legend>Techincal Skills</legend>
			<div class="callout panel">
				<fieldset>
					<div class="small-3 columns">
						<h5>Languages</h5>
						<pre ng-repeat="language in techSkills.Languages">
							<input type="checkbox" ng-model="names.Selected"
								ng-click="toggleSelection(language)" />{{language}}</pre>
					</div>

					<div class="small-3 columns">
						<h5>Source control Tools</h5>
						<pre ng-repeat="tool in techSkills.SouceControlTools">
							<input type="checkbox" ng-model="names.Selected"
								ng-click="toggleSelection(tool)" />{{tool}}</pre>
					</div>

					<div class="small-3 columns">
						<h5>Web Technologies</h5>
						<pre ng-repeat="technology in techSkills.WebTechnologies">
							<input type="checkbox" ng-model="names.Selected"
								ng-click="toggleSelection(technology)" />{{technology}}</pre>
					</div>
					<div class="small-3 columns">
						<h5>Operating Systems</h5>
						<pre ng-repeat="os in techSkills.OperatingSystems">
							<input type="checkbox" ng-model="names.Selected"
								ng-click="toggleSelection(os)" />{{os}}</pre>
					</div>
				</fieldset>
			</div>
		</fieldset>

		<button class="button" ng-click="retrivebySearch()">RetrieveSearchCriteria</button>
		<div class="callout panel" ng-show="ViewAll">
			<table width="100%">
				<tr>
					<th>Firstname</th>
					<th>Expertese</th>
					<th>Quicklook id</th>
				</tr>
				<tr ng-repeat="interviewer in AllInterviewers">
					<td><button ng-click="DetailInterviewer(interviewer)">{{interviewer.firstname}}</button></td>
					<td>{{interviewer.expertese}}</td>
					<td>{{interviewer.quicklookid}}</td>
					<!--  <td><button class="button" ng-click="ViewResume(employee.emp.contact)">View Resume</button></td>-->
					<!--  <td><input type="file" id="updateresume" name="resume" class="button"/></td>-->
					<!--<td><button class="button" ng-click="deleteEmployee(emp.id)">Delete</button></td> -->
				</tr>
			</table>
		</div>

		<div ng-show="ViewSelected" class="callout panel">
			<fieldset>
				<legend>Personal Details</legend>
				<table width="100%">
					<tr>
						<td>First Name</td>
						<td>{{selInterviewer.firstname}}</td>
					</tr>
					<tr>
						<td>Last Name</td>
						<td>{{selInterviewer.lastname}}</td>
					</tr>
					<tr>
						<td>email address</td>
						<td>{{selInterviewer.mail}}</td>
					</tr>
					<tr>
						<td>Current Experience</td>
						<td>{{selInterviewer.contact}}</td>
					</tr>
					<tr>
						<td>Total Experience</td>
						<td>{{selInterviewer.totalexperience}}</td>
					</tr>
					<tr>
						<td>Quicklook id</td>
						<td>{{selInterviewer.quicklookid}}</td>
					</tr>
				</table>
			</fieldset>

			<fieldset>
				<legend>Expertese Technical Skills</legend>
				<div class="callout panel">
					<pre>Skill set :{{selInterviewer.expertese}}</pre>

				</div>
			</fieldset>
		</div>
	</div>
</div>