<div class="row">
	<div class="callout panel">
		<button class="button" ng-click="dispAllemp()">RetrieveAllEmployees</button>
		<!--<button class="button" ng-click="searchdiv()">Search</button>
						<div class="callout panel" >
						
							<table width="60%">
							<tr>
							<td><input type="text"  ng-model="param"></td>
							<td>
								<select ng-model="searchCriteria" ng-change="CheckforSkills()">
									<option>searchByName</option>
									<option>searchBySkillset</option>
									<option>searchByContact</option>
								</select>
							</td>
							</tr>
							</table>
							
							<fieldset ng-show="showsearchskills">
										<legend>Techincal Skills</legend>
											<div class="callout panel">
												<fieldset>
													<div class = "small-3 columns"><h5>Languages</h5><pre ng-repeat="language in techSkills.Languages"><input type="checkbox" ng-model="names.Selected" ng-click="toggleSelection(language)"/>{{language}}</pre></div>
													
													<div class = "small-3 columns"><h5>Source control Tools</h5><pre ng-repeat="tool in techSkills.SouceControlTools"><input type="checkbox" ng-model="names.Selected" ng-click="toggleSelection(tool)"/>{{tool}}</pre></div>
													
													<div class = "small-3 columns"><h5>Web Technologies</h5><pre ng-repeat="technology in techSkills.WebTechnologies"><input type="checkbox" ng-model="names.Selected" ng-click="toggleSelection(technology)"/>{{technology}}</pre></div>
													<div class = "small-3 columns"><h5>Operating Systems</h5><pre ng-repeat="os in techSkills.OperatingSystems"><input type="checkbox" ng-model="names.Selected" ng-click="toggleSelection(os)"/>{{os}}</pre></div>
												</fieldset>
											</div>	
							</fieldset>	
							
							<button class="button" ng-click = "retrivebySearch()">RetrieveSearchCriteria</button>-->
	</div>
	<div class="callout panel">
		<table width="100%">
			<tr>
				<th>Firstname</th>
				<th>Skillset</th>
				<th>Contact</th>
			</tr>
			<tr ng-repeat="employee in Allemps">
				<td><a ui-sref="selectedApplicant({{employee.emp.firstname}})"><button ng-click="selEmp(employee)">{{employee.emp.firstname}}</button></a></td>
				<td>{{employee.emp.skillset}}</td>
				<td>{{employee.emp.contact}}</td>
				<td><button class="button"
						ng-click="ViewResume(employee.emp.contact)">View Resume</button></td>
				<td><input type="file" id="updateresume" name="resume"
					class="button" /></td>
				<!--<td><button class="button" ng-click="deleteEmployee(emp.id)">Delete</button></td> -->
			</tr>
		</table>
	</div>
	<div ui-view></div>
	<!--<div ng-show="showempResume" class="callout panel">
						<object ng-show="content" data="{{content}}" type="application/pdf" style="width: 100%; height: 400px;"></object>
						</div>-->
</div>
</div>